function sudo; command sudo -sE $argv; end
alias emacs "emacs -nw"

alias pip pip3
alias vim nvim

set fish_key_bindings fish_vi_key_bindings

#env vars
set -Ux EDITOR "nvim"

#brew
set -g fish_user_paths "/home/linuxbrew/.linuxbrew/bin" $fish_user_paths

#npm
set -g fish_user_paths "/usr/local/lib/npm/bin" $fish_user_paths

#krew
set -gx PATH $PATH $HOME/.krew/bin

#my kube aliases
alias kw "watch -c kubectl get pods --all-namespaces"
alias kubeevents "kubectl get event --sort-by .lastTimestamp -w --all-namespaces"
alias kubeshell "kubectl run my-shell --rm -i --tty --image jamesla/nginx-debug -- bash"

# kubectl aliases - hopefully remove this when somebody makes a fisher plugin
abbr -a k "kubectl"
abbr -a ksys "kubectl --namespace=kube-system"
abbr -a ka "kubectl apply --recursive -f"
abbr -a ksysa "kubectl --namespace=kube-system apply --recursive -f"
abbr -a kak "kubectl apply -k"
abbr -a kk "kubectl kustomize"
abbr -a kex "kubectl exec -i -t"
abbr -a ksysex "kubectl --namespace=kube-system exec -i -t"
abbr -a klo "kubectl logs -f"
abbr -a ksyslo "kubectl --namespace=kube-system logs -f"
abbr -a klop "kubectl logs -f -p"
abbr -a ksyslop "kubectl --namespace=kube-system logs -f -p"
abbr -a kp "kubectl proxy"
abbr -a kpf "kubectl port-forward"
abbr -a kg "kubectl get"
abbr -a ksysg "kubectl --namespace=kube-system get"
abbr -a kd "kubectl describe"
abbr -a ksysd "kubectl --namespace=kube-system describe"
abbr -a krm "kubectl delete"
abbr -a ksysrm "kubectl --namespace=kube-system delete"
abbr -a krun "kubectl run --rm --restart=Never --image-pull-policy=IfNotPresent -i -t"
abbr -a ksysrun "kubectl --namespace=kube-system run --rm --restart=Never --image-pull-policy=IfNotPresent -i -t"
abbr -a kgpo "kubectl get pods"
abbr -a ksysgpo "kubectl --namespace=kube-system get pods"
abbr -a kdpo "kubectl describe pods"
abbr -a ksysdpo "kubectl --namespace=kube-system describe pods"
abbr -a krmpo "kubectl delete pods"
abbr -a ksysrmpo "kubectl --namespace=kube-system delete pods"
abbr -a kgdep "kubectl get deployment"
abbr -a ksysgdep "kubectl --namespace=kube-system get deployment"
abbr -a kddep "kubectl describe deployment"
abbr -a ksysddep "kubectl --namespace=kube-system describe deployment"
abbr -a krmdep "kubectl delete deployment"
abbr -a ksysrmdep "kubectl --namespace=kube-system delete deployment"
abbr -a kgsvc "kubectl get service"
abbr -a ksysgsvc "kubectl --namespace=kube-system get service"
abbr -a kdsvc "kubectl describe service"
abbr -a ksysdsvc "kubectl --namespace=kube-system describe service"
abbr -a krmsvc "kubectl delete service"
abbr -a ksysrmsvc "kubectl --namespace=kube-system delete service"
abbr -a kging "kubectl get ingress"
abbr -a ksysging "kubectl --namespace=kube-system get ingress"
abbr -a kding "kubectl describe ingress"
abbr -a ksysding "kubectl --namespace=kube-system describe ingress"
abbr -a krming "kubectl delete ingress"
abbr -a ksysrming "kubectl --namespace=kube-system delete ingress"
abbr -a kgcm "kubectl get configmap"
abbr -a ksysgcm "kubectl --namespace=kube-system get configmap"
abbr -a kdcm "kubectl describe configmap"
abbr -a ksysdcm "kubectl --namespace=kube-system describe configmap"
abbr -a krmcm "kubectl delete configmap"
abbr -a ksysrmcm "kubectl --namespace=kube-system delete configmap"
abbr -a kgsec "kubectl get secret"
abbr -a ksysgsec "kubectl --namespace=kube-system get secret"
abbr -a kdsec "kubectl describe secret"
abbr -a ksysdsec "kubectl --namespace=kube-system describe secret"
abbr -a krmsec "kubectl delete secret"
abbr -a ksysrmsec "kubectl --namespace=kube-system delete secret"
abbr -a kgno "kubectl get nodes"
abbr -a kdno "kubectl describe nodes"
abbr -a kgns "kubectl get namespaces"
abbr -a kdns "kubectl describe namespaces"
abbr -a krmns "kubectl delete namespaces"
abbr -a kgoyaml "kubectl get -o=yaml"
abbr -a ksysgoyaml "kubectl --namespace=kube-system get -o=yaml"
abbr -a kgpooyaml "kubectl get pods -o=yaml"
abbr -a ksysgpooyaml "kubectl --namespace=kube-system get pods -o=yaml"
abbr -a kgdepoyaml "kubectl get deployment -o=yaml"
abbr -a ksysgdepoyaml "kubectl --namespace=kube-system get deployment -o=yaml"
abbr -a kgsvcoyaml "kubectl get service -o=yaml"
abbr -a ksysgsvcoyaml "kubectl --namespace=kube-system get service -o=yaml"
abbr -a kgingoyaml "kubectl get ingress -o=yaml"
abbr -a ksysgingoyaml "kubectl --namespace=kube-system get ingress -o=yaml"
abbr -a kgcmoyaml "kubectl get configmap -o=yaml"
abbr -a ksysgcmoyaml "kubectl --namespace=kube-system get configmap -o=yaml"
abbr -a kgsecoyaml "kubectl get secret -o=yaml"
abbr -a ksysgsecoyaml "kubectl --namespace=kube-system get secret -o=yaml"
abbr -a kgnooyaml "kubectl get nodes -o=yaml"
abbr -a kgnsoyaml "kubectl get namespaces -o=yaml"
abbr -a kgowide "kubectl get -o=wide"
abbr -a ksysgowide "kubectl --namespace=kube-system get -o=wide"
abbr -a kgpoowide "kubectl get pods -o=wide"
abbr -a ksysgpoowide "kubectl --namespace=kube-system get pods -o=wide"
abbr -a kgdepowide "kubectl get deployment -o=wide"
abbr -a ksysgdepowide "kubectl --namespace=kube-system get deployment -o=wide"
abbr -a kgsvcowide "kubectl get service -o=wide"
abbr -a ksysgsvcowide "kubectl --namespace=kube-system get service -o=wide"
abbr -a kgingowide "kubectl get ingress -o=wide"
abbr -a ksysgingowide "kubectl --namespace=kube-system get ingress -o=wide"
abbr -a kgcmowide "kubectl get configmap -o=wide"
abbr -a ksysgcmowide "kubectl --namespace=kube-system get configmap -o=wide"
abbr -a kgsecowide "kubectl get secret -o=wide"
abbr -a ksysgsecowide "kubectl --namespace=kube-system get secret -o=wide"
abbr -a kgnoowide "kubectl get nodes -o=wide"
abbr -a kgnsowide "kubectl get namespaces -o=wide"
abbr -a kgojson "kubectl get -o=json"
abbr -a ksysgojson "kubectl --namespace=kube-system get -o=json"
abbr -a kgpoojson "kubectl get pods -o=json"
abbr -a ksysgpoojson "kubectl --namespace=kube-system get pods -o=json"
abbr -a kgdepojson "kubectl get deployment -o=json"
abbr -a ksysgdepojson "kubectl --namespace=kube-system get deployment -o=json"
abbr -a kgsvcojson "kubectl get service -o=json"
abbr -a ksysgsvcojson "kubectl --namespace=kube-system get service -o=json"
abbr -a kgingojson "kubectl get ingress -o=json"
abbr -a ksysgingojson "kubectl --namespace=kube-system get ingress -o=json"
abbr -a kgcmojson "kubectl get configmap -o=json"
abbr -a ksysgcmojson "kubectl --namespace=kube-system get configmap -o=json"
abbr -a kgsecojson "kubectl get secret -o=json"
abbr -a ksysgsecojson "kubectl --namespace=kube-system get secret -o=json"
abbr -a kgnoojson "kubectl get nodes -o=json"
abbr -a kgnsojson "kubectl get namespaces -o=json"
abbr -a kgall "kubectl get --all-namespaces"
abbr -a kdall "kubectl describe --all-namespaces"
abbr -a kgpoall "kubectl get pods --all-namespaces"
abbr -a kdpoall "kubectl describe pods --all-namespaces"
abbr -a kgdepall "kubectl get deployment --all-namespaces"
abbr -a kddepall "kubectl describe deployment --all-namespaces"
abbr -a kgsvcall "kubectl get service --all-namespaces"
abbr -a kdsvcall "kubectl describe service --all-namespaces"
abbr -a kgingall "kubectl get ingress --all-namespaces"
abbr -a kdingall "kubectl describe ingress --all-namespaces"
abbr -a kgcmall "kubectl get configmap --all-namespaces"
abbr -a kdcmall "kubectl describe configmap --all-namespaces"
abbr -a kgsecall "kubectl get secret --all-namespaces"
abbr -a kdsecall "kubectl describe secret --all-namespaces"
abbr -a kgnsall "kubectl get namespaces --all-namespaces"
abbr -a kdnsall "kubectl describe namespaces --all-namespaces"
abbr -a kgsl "kubectl get --show-labels"
abbr -a ksysgsl "kubectl --namespace=kube-system get --show-labels"
abbr -a kgposl "kubectl get pods --show-labels"
abbr -a ksysgposl "kubectl --namespace=kube-system get pods --show-labels"
abbr -a kgdepsl "kubectl get deployment --show-labels"
abbr -a ksysgdepsl "kubectl --namespace=kube-system get deployment --show-labels"
abbr -a krmall "kubectl delete --all"
abbr -a ksysrmall "kubectl --namespace=kube-system delete --all"
abbr -a krmpoall "kubectl delete pods --all"
abbr -a ksysrmpoall "kubectl --namespace=kube-system delete pods --all"
abbr -a krmdepall "kubectl delete deployment --all"
abbr -a ksysrmdepall "kubectl --namespace=kube-system delete deployment --all"
abbr -a krmsvcall "kubectl delete service --all"
abbr -a ksysrmsvcall "kubectl --namespace=kube-system delete service --all"
abbr -a krmingall "kubectl delete ingress --all"
abbr -a ksysrmingall "kubectl --namespace=kube-system delete ingress --all"
abbr -a krmcmall "kubectl delete configmap --all"
abbr -a ksysrmcmall "kubectl --namespace=kube-system delete configmap --all"
abbr -a krmsecall "kubectl delete secret --all"
abbr -a ksysrmsecall "kubectl --namespace=kube-system delete secret --all"
abbr -a krmnsall "kubectl delete namespaces --all"
abbr -a kgw "kubectl get --watch"
abbr -a ksysgw "kubectl --namespace=kube-system get --watch"
abbr -a kgpow "kubectl get pods --watch"
abbr -a ksysgpow "kubectl --namespace=kube-system get pods --watch"
abbr -a kgdepw "kubectl get deployment --watch"
abbr -a ksysgdepw "kubectl --namespace=kube-system get deployment --watch"
abbr -a kgsvcw "kubectl get service --watch"
abbr -a ksysgsvcw "kubectl --namespace=kube-system get service --watch"
abbr -a kgingw "kubectl get ingress --watch"
abbr -a ksysgingw "kubectl --namespace=kube-system get ingress --watch"
abbr -a kgcmw "kubectl get configmap --watch"
abbr -a ksysgcmw "kubectl --namespace=kube-system get configmap --watch"
abbr -a kgsecw "kubectl get secret --watch"
abbr -a ksysgsecw "kubectl --namespace=kube-system get secret --watch"
abbr -a kgnow "kubectl get nodes --watch"
abbr -a kgnsw "kubectl get namespaces --watch"
abbr -a kgoyamlall "kubectl get -o=yaml --all-namespaces"
abbr -a kgpooyamlall "kubectl get pods -o=yaml --all-namespaces"
abbr -a kgdepoyamlall "kubectl get deployment -o=yaml --all-namespaces"
abbr -a kgsvcoyamlall "kubectl get service -o=yaml --all-namespaces"
abbr -a kgingoyamlall "kubectl get ingress -o=yaml --all-namespaces"
abbr -a kgcmoyamlall "kubectl get configmap -o=yaml --all-namespaces"
abbr -a kgsecoyamlall "kubectl get secret -o=yaml --all-namespaces"
abbr -a kgnsoyamlall "kubectl get namespaces -o=yaml --all-namespaces"
abbr -a kgalloyaml "kubectl get --all-namespaces -o=yaml"
abbr -a kgpoalloyaml "kubectl get pods --all-namespaces -o=yaml"
abbr -a kgdepalloyaml "kubectl get deployment --all-namespaces -o=yaml"
abbr -a kgsvcalloyaml "kubectl get service --all-namespaces -o=yaml"
abbr -a kgingalloyaml "kubectl get ingress --all-namespaces -o=yaml"
abbr -a kgcmalloyaml "kubectl get configmap --all-namespaces -o=yaml"
abbr -a kgsecalloyaml "kubectl get secret --all-namespaces -o=yaml"
abbr -a kgnsalloyaml "kubectl get namespaces --all-namespaces -o=yaml"
abbr -a kgwoyaml "kubectl get --watch -o=yaml"
abbr -a ksysgwoyaml "kubectl --namespace=kube-system get --watch -o=yaml"
abbr -a kgpowoyaml "kubectl get pods --watch -o=yaml"
abbr -a ksysgpowoyaml "kubectl --namespace=kube-system get pods --watch -o=yaml"
abbr -a kgdepwoyaml "kubectl get deployment --watch -o=yaml"
abbr -a ksysgdepwoyaml "kubectl --namespace=kube-system get deployment --watch -o=yaml"
abbr -a kgsvcwoyaml "kubectl get service --watch -o=yaml"
abbr -a ksysgsvcwoyaml "kubectl --namespace=kube-system get service --watch -o=yaml"
abbr -a kgingwoyaml "kubectl get ingress --watch -o=yaml"
abbr -a ksysgingwoyaml "kubectl --namespace=kube-system get ingress --watch -o=yaml"
abbr -a kgcmwoyaml "kubectl get configmap --watch -o=yaml"
abbr -a ksysgcmwoyaml "kubectl --namespace=kube-system get configmap --watch -o=yaml"
abbr -a kgsecwoyaml "kubectl get secret --watch -o=yaml"
abbr -a ksysgsecwoyaml "kubectl --namespace=kube-system get secret --watch -o=yaml"
abbr -a kgnowoyaml "kubectl get nodes --watch -o=yaml"
abbr -a kgnswoyaml "kubectl get namespaces --watch -o=yaml"
abbr -a kgowideall "kubectl get -o=wide --all-namespaces"
abbr -a kgpoowideall "kubectl get pods -o=wide --all-namespaces"
abbr -a kgdepowideall "kubectl get deployment -o=wide --all-namespaces"
abbr -a kgsvcowideall "kubectl get service -o=wide --all-namespaces"
abbr -a kgingowideall "kubectl get ingress -o=wide --all-namespaces"
abbr -a kgcmowideall "kubectl get configmap -o=wide --all-namespaces"
abbr -a kgsecowideall "kubectl get secret -o=wide --all-namespaces"
abbr -a kgnsowideall "kubectl get namespaces -o=wide --all-namespaces"
abbr -a kgallowide "kubectl get --all-namespaces -o=wide"
abbr -a kgpoallowide "kubectl get pods --all-namespaces -o=wide"
abbr -a kgdepallowide "kubectl get deployment --all-namespaces -o=wide"
abbr -a kgsvcallowide "kubectl get service --all-namespaces -o=wide"
abbr -a kgingallowide "kubectl get ingress --all-namespaces -o=wide"
abbr -a kgcmallowide "kubectl get configmap --all-namespaces -o=wide"
abbr -a kgsecallowide "kubectl get secret --all-namespaces -o=wide"
abbr -a kgnsallowide "kubectl get namespaces --all-namespaces -o=wide"
abbr -a kgowidesl "kubectl get -o=wide --show-labels"
abbr -a ksysgowidesl "kubectl --namespace=kube-system get -o=wide --show-labels"
abbr -a kgpoowidesl "kubectl get pods -o=wide --show-labels"
abbr -a ksysgpoowidesl "kubectl --namespace=kube-system get pods -o=wide --show-labels"
abbr -a kgdepowidesl "kubectl get deployment -o=wide --show-labels"
abbr -a ksysgdepowidesl "kubectl --namespace=kube-system get deployment -o=wide --show-labels"
abbr -a kgslowide "kubectl get --show-labels -o=wide"
abbr -a ksysgslowide "kubectl --namespace=kube-system get --show-labels -o=wide"
abbr -a kgposlowide "kubectl get pods --show-labels -o=wide"
abbr -a ksysgposlowide "kubectl --namespace=kube-system get pods --show-labels -o=wide"
abbr -a kgdepslowide "kubectl get deployment --show-labels -o=wide"
abbr -a ksysgdepslowide "kubectl --namespace=kube-system get deployment --show-labels -o=wide"
abbr -a kgwowide "kubectl get --watch -o=wide"
abbr -a ksysgwowide "kubectl --namespace=kube-system get --watch -o=wide"
abbr -a kgpowowide "kubectl get pods --watch -o=wide"
abbr -a ksysgpowowide "kubectl --namespace=kube-system get pods --watch -o=wide"
abbr -a kgdepwowide "kubectl get deployment --watch -o=wide"
abbr -a ksysgdepwowide "kubectl --namespace=kube-system get deployment --watch -o=wide"
abbr -a kgsvcwowide "kubectl get service --watch -o=wide"
abbr -a ksysgsvcwowide "kubectl --namespace=kube-system get service --watch -o=wide"
abbr -a kgingwowide "kubectl get ingress --watch -o=wide"
abbr -a ksysgingwowide "kubectl --namespace=kube-system get ingress --watch -o=wide"
abbr -a kgcmwowide "kubectl get configmap --watch -o=wide"
abbr -a ksysgcmwowide "kubectl --namespace=kube-system get configmap --watch -o=wide"
abbr -a kgsecwowide "kubectl get secret --watch -o=wide"
abbr -a ksysgsecwowide "kubectl --namespace=kube-system get secret --watch -o=wide"
abbr -a kgnowowide "kubectl get nodes --watch -o=wide"
abbr -a kgnswowide "kubectl get namespaces --watch -o=wide"
abbr -a kgojsonall "kubectl get -o=json --all-namespaces"
abbr -a kgpoojsonall "kubectl get pods -o=json --all-namespaces"
abbr -a kgdepojsonall "kubectl get deployment -o=json --all-namespaces"
abbr -a kgsvcojsonall "kubectl get service -o=json --all-namespaces"
abbr -a kgingojsonall "kubectl get ingress -o=json --all-namespaces"
abbr -a kgcmojsonall "kubectl get configmap -o=json --all-namespaces"
abbr -a kgsecojsonall "kubectl get secret -o=json --all-namespaces"
abbr -a kgnsojsonall "kubectl get namespaces -o=json --all-namespaces"
abbr -a kgallojson "kubectl get --all-namespaces -o=json"
abbr -a kgpoallojson "kubectl get pods --all-namespaces -o=json"
abbr -a kgdepallojson "kubectl get deployment --all-namespaces -o=json"
abbr -a kgsvcallojson "kubectl get service --all-namespaces -o=json"
abbr -a kgingallojson "kubectl get ingress --all-namespaces -o=json"
abbr -a kgcmallojson "kubectl get configmap --all-namespaces -o=json"
abbr -a kgsecallojson "kubectl get secret --all-namespaces -o=json"
abbr -a kgnsallojson "kubectl get namespaces --all-namespaces -o=json"
abbr -a kgwojson "kubectl get --watch -o=json"
abbr -a ksysgwojson "kubectl --namespace=kube-system get --watch -o=json"
abbr -a kgpowojson "kubectl get pods --watch -o=json"
abbr -a ksysgpowojson "kubectl --namespace=kube-system get pods --watch -o=json"
abbr -a kgdepwojson "kubectl get deployment --watch -o=json"
abbr -a ksysgdepwojson "kubectl --namespace=kube-system get deployment --watch -o=json"
abbr -a kgsvcwojson "kubectl get service --watch -o=json"
abbr -a ksysgsvcwojson "kubectl --namespace=kube-system get service --watch -o=json"
abbr -a kgingwojson "kubectl get ingress --watch -o=json"
abbr -a ksysgingwojson "kubectl --namespace=kube-system get ingress --watch -o=json"
abbr -a kgcmwojson "kubectl get configmap --watch -o=json"
abbr -a ksysgcmwojson "kubectl --namespace=kube-system get configmap --watch -o=json"
abbr -a kgsecwojson "kubectl get secret --watch -o=json"
abbr -a ksysgsecwojson "kubectl --namespace=kube-system get secret --watch -o=json"
abbr -a kgnowojson "kubectl get nodes --watch -o=json"
abbr -a kgnswojson "kubectl get namespaces --watch -o=json"
abbr -a kgallsl "kubectl get --all-namespaces --show-labels"
abbr -a kgpoallsl "kubectl get pods --all-namespaces --show-labels"
abbr -a kgdepallsl "kubectl get deployment --all-namespaces --show-labels"
abbr -a kgslall "kubectl get --show-labels --all-namespaces"
abbr -a kgposlall "kubectl get pods --show-labels --all-namespaces"
abbr -a kgdepslall "kubectl get deployment --show-labels --all-namespaces"
abbr -a kgallw "kubectl get --all-namespaces --watch"
abbr -a kgpoallw "kubectl get pods --all-namespaces --watch"
abbr -a kgdepallw "kubectl get deployment --all-namespaces --watch"
abbr -a kgsvcallw "kubectl get service --all-namespaces --watch"
abbr -a kgingallw "kubectl get ingress --all-namespaces --watch"
abbr -a kgcmallw "kubectl get configmap --all-namespaces --watch"
abbr -a kgsecallw "kubectl get secret --all-namespaces --watch"
abbr -a kgnsallw "kubectl get namespaces --all-namespaces --watch"
abbr -a kgwall "kubectl get --watch --all-namespaces"
abbr -a kgpowall "kubectl get pods --watch --all-namespaces"
abbr -a kgdepwall "kubectl get deployment --watch --all-namespaces"
abbr -a kgsvcwall "kubectl get service --watch --all-namespaces"
abbr -a kgingwall "kubectl get ingress --watch --all-namespaces"
abbr -a kgcmwall "kubectl get configmap --watch --all-namespaces"
abbr -a kgsecwall "kubectl get secret --watch --all-namespaces"
abbr -a kgnswall "kubectl get namespaces --watch --all-namespaces"
abbr -a kgslw "kubectl get --show-labels --watch"
abbr -a ksysgslw "kubectl --namespace=kube-system get --show-labels --watch"
abbr -a kgposlw "kubectl get pods --show-labels --watch"
abbr -a ksysgposlw "kubectl --namespace=kube-system get pods --show-labels --watch"
abbr -a kgdepslw "kubectl get deployment --show-labels --watch"
abbr -a ksysgdepslw "kubectl --namespace=kube-system get deployment --show-labels --watch"
abbr -a kgwsl "kubectl get --watch --show-labels"
abbr -a ksysgwsl "kubectl --namespace=kube-system get --watch --show-labels"
abbr -a kgpowsl "kubectl get pods --watch --show-labels"
abbr -a ksysgpowsl "kubectl --namespace=kube-system get pods --watch --show-labels"
abbr -a kgdepwsl "kubectl get deployment --watch --show-labels"
abbr -a ksysgdepwsl "kubectl --namespace=kube-system get deployment --watch --show-labels"
abbr -a kgallwoyaml "kubectl get --all-namespaces --watch -o=yaml"
abbr -a kgpoallwoyaml "kubectl get pods --all-namespaces --watch -o=yaml"
abbr -a kgdepallwoyaml "kubectl get deployment --all-namespaces --watch -o=yaml"
abbr -a kgsvcallwoyaml "kubectl get service --all-namespaces --watch -o=yaml"
abbr -a kgingallwoyaml "kubectl get ingress --all-namespaces --watch -o=yaml"
abbr -a kgcmallwoyaml "kubectl get configmap --all-namespaces --watch -o=yaml"
abbr -a kgsecallwoyaml "kubectl get secret --all-namespaces --watch -o=yaml"
abbr -a kgnsallwoyaml "kubectl get namespaces --all-namespaces --watch -o=yaml"
abbr -a kgwoyamlall "kubectl get --watch -o=yaml --all-namespaces"
abbr -a kgpowoyamlall "kubectl get pods --watch -o=yaml --all-namespaces"
abbr -a kgdepwoyamlall "kubectl get deployment --watch -o=yaml --all-namespaces"
abbr -a kgsvcwoyamlall "kubectl get service --watch -o=yaml --all-namespaces"
abbr -a kgingwoyamlall "kubectl get ingress --watch -o=yaml --all-namespaces"
abbr -a kgcmwoyamlall "kubectl get configmap --watch -o=yaml --all-namespaces"
abbr -a kgsecwoyamlall "kubectl get secret --watch -o=yaml --all-namespaces"
abbr -a kgnswoyamlall "kubectl get namespaces --watch -o=yaml --all-namespaces"
abbr -a kgwalloyaml "kubectl get --watch --all-namespaces -o=yaml"
abbr -a kgpowalloyaml "kubectl get pods --watch --all-namespaces -o=yaml"
abbr -a kgdepwalloyaml "kubectl get deployment --watch --all-namespaces -o=yaml"
abbr -a kgsvcwalloyaml "kubectl get service --watch --all-namespaces -o=yaml"
abbr -a kgingwalloyaml "kubectl get ingress --watch --all-namespaces -o=yaml"
abbr -a kgcmwalloyaml "kubectl get configmap --watch --all-namespaces -o=yaml"
abbr -a kgsecwalloyaml "kubectl get secret --watch --all-namespaces -o=yaml"
abbr -a kgnswalloyaml "kubectl get namespaces --watch --all-namespaces -o=yaml"
abbr -a kgowideallsl "kubectl get -o=wide --all-namespaces --show-labels"
abbr -a kgpoowideallsl "kubectl get pods -o=wide --all-namespaces --show-labels"
abbr -a kgdepowideallsl "kubectl get deployment -o=wide --all-namespaces --show-labels"
abbr -a kgowideslall "kubectl get -o=wide --show-labels --all-namespaces"
abbr -a kgpoowideslall "kubectl get pods -o=wide --show-labels --all-namespaces"
abbr -a kgdepowideslall "kubectl get deployment -o=wide --show-labels --all-namespaces"
abbr -a kgallowidesl "kubectl get --all-namespaces -o=wide --show-labels"
abbr -a kgpoallowidesl "kubectl get pods --all-namespaces -o=wide --show-labels"
abbr -a kgdepallowidesl "kubectl get deployment --all-namespaces -o=wide --show-labels"
abbr -a kgallslowide "kubectl get --all-namespaces --show-labels -o=wide"
abbr -a kgpoallslowide "kubectl get pods --all-namespaces --show-labels -o=wide"
abbr -a kgdepallslowide "kubectl get deployment --all-namespaces --show-labels -o=wide"
abbr -a kgslowideall "kubectl get --show-labels -o=wide --all-namespaces"
abbr -a kgposlowideall "kubectl get pods --show-labels -o=wide --all-namespaces"
abbr -a kgdepslowideall "kubectl get deployment --show-labels -o=wide --all-namespaces"
abbr -a kgslallowide "kubectl get --show-labels --all-namespaces -o=wide"
abbr -a kgposlallowide "kubectl get pods --show-labels --all-namespaces -o=wide"
abbr -a kgdepslallowide "kubectl get deployment --show-labels --all-namespaces -o=wide"
abbr -a kgallwowide "kubectl get --all-namespaces --watch -o=wide"
abbr -a kgpoallwowide "kubectl get pods --all-namespaces --watch -o=wide"
abbr -a kgdepallwowide "kubectl get deployment --all-namespaces --watch -o=wide"
abbr -a kgsvcallwowide "kubectl get service --all-namespaces --watch -o=wide"
abbr -a kgingallwowide "kubectl get ingress --all-namespaces --watch -o=wide"
abbr -a kgcmallwowide "kubectl get configmap --all-namespaces --watch -o=wide"
abbr -a kgsecallwowide "kubectl get secret --all-namespaces --watch -o=wide"
abbr -a kgnsallwowide "kubectl get namespaces --all-namespaces --watch -o=wide"
abbr -a kgwowideall "kubectl get --watch -o=wide --all-namespaces"
abbr -a kgpowowideall "kubectl get pods --watch -o=wide --all-namespaces"
abbr -a kgdepwowideall "kubectl get deployment --watch -o=wide --all-namespaces"
abbr -a kgsvcwowideall "kubectl get service --watch -o=wide --all-namespaces"
abbr -a kgingwowideall "kubectl get ingress --watch -o=wide --all-namespaces"
abbr -a kgcmwowideall "kubectl get configmap --watch -o=wide --all-namespaces"
abbr -a kgsecwowideall "kubectl get secret --watch -o=wide --all-namespaces"
abbr -a kgnswowideall "kubectl get namespaces --watch -o=wide --all-namespaces"
abbr -a kgwallowide "kubectl get --watch --all-namespaces -o=wide"
abbr -a kgpowallowide "kubectl get pods --watch --all-namespaces -o=wide"
abbr -a kgdepwallowide "kubectl get deployment --watch --all-namespaces -o=wide"
abbr -a kgsvcwallowide "kubectl get service --watch --all-namespaces -o=wide"
abbr -a kgingwallowide "kubectl get ingress --watch --all-namespaces -o=wide"
abbr -a kgcmwallowide "kubectl get configmap --watch --all-namespaces -o=wide"
abbr -a kgsecwallowide "kubectl get secret --watch --all-namespaces -o=wide"
abbr -a kgnswallowide "kubectl get namespaces --watch --all-namespaces -o=wide"
abbr -a kgslwowide "kubectl get --show-labels --watch -o=wide"
abbr -a ksysgslwowide "kubectl --namespace=kube-system get --show-labels --watch -o=wide"
abbr -a kgposlwowide "kubectl get pods --show-labels --watch -o=wide"
abbr -a ksysgposlwowide "kubectl --namespace=kube-system get pods --show-labels --watch -o=wide"
abbr -a kgdepslwowide "kubectl get deployment --show-labels --watch -o=wide"
abbr -a ksysgdepslwowide "kubectl --namespace=kube-system get deployment --show-labels --watch -o=wide"
abbr -a kgwowidesl "kubectl get --watch -o=wide --show-labels"
abbr -a ksysgwowidesl "kubectl --namespace=kube-system get --watch -o=wide --show-labels"
abbr -a kgpowowidesl "kubectl get pods --watch -o=wide --show-labels"
abbr -a ksysgpowowidesl "kubectl --namespace=kube-system get pods --watch -o=wide --show-labels"
abbr -a kgdepwowidesl "kubectl get deployment --watch -o=wide --show-labels"
abbr -a ksysgdepwowidesl "kubectl --namespace=kube-system get deployment --watch -o=wide --show-labels"
abbr -a kgwslowide "kubectl get --watch --show-labels -o=wide"
abbr -a ksysgwslowide "kubectl --namespace=kube-system get --watch --show-labels -o=wide"
abbr -a kgpowslowide "kubectl get pods --watch --show-labels -o=wide"
abbr -a ksysgpowslowide "kubectl --namespace=kube-system get pods --watch --show-labels -o=wide"
abbr -a kgdepwslowide "kubectl get deployment --watch --show-labels -o=wide"
abbr -a ksysgdepwslowide "kubectl --namespace=kube-system get deployment --watch --show-labels -o=wide"
abbr -a kgallwojson "kubectl get --all-namespaces --watch -o=json"
abbr -a kgpoallwojson "kubectl get pods --all-namespaces --watch -o=json"
abbr -a kgdepallwojson "kubectl get deployment --all-namespaces --watch -o=json"
abbr -a kgsvcallwojson "kubectl get service --all-namespaces --watch -o=json"
abbr -a kgingallwojson "kubectl get ingress --all-namespaces --watch -o=json"
abbr -a kgcmallwojson "kubectl get configmap --all-namespaces --watch -o=json"
abbr -a kgsecallwojson "kubectl get secret --all-namespaces --watch -o=json"
abbr -a kgnsallwojson "kubectl get namespaces --all-namespaces --watch -o=json"
abbr -a kgwojsonall "kubectl get --watch -o=json --all-namespaces"
abbr -a kgpowojsonall "kubectl get pods --watch -o=json --all-namespaces"
abbr -a kgdepwojsonall "kubectl get deployment --watch -o=json --all-namespaces"
abbr -a kgsvcwojsonall "kubectl get service --watch -o=json --all-namespaces"
abbr -a kgingwojsonall "kubectl get ingress --watch -o=json --all-namespaces"
abbr -a kgcmwojsonall "kubectl get configmap --watch -o=json --all-namespaces"
abbr -a kgsecwojsonall "kubectl get secret --watch -o=json --all-namespaces"
abbr -a kgnswojsonall "kubectl get namespaces --watch -o=json --all-namespaces"
abbr -a kgwallojson "kubectl get --watch --all-namespaces -o=json"
abbr -a kgpowallojson "kubectl get pods --watch --all-namespaces -o=json"
abbr -a kgdepwallojson "kubectl get deployment --watch --all-namespaces -o=json"
abbr -a kgsvcwallojson "kubectl get service --watch --all-namespaces -o=json"
abbr -a kgingwallojson "kubectl get ingress --watch --all-namespaces -o=json"
abbr -a kgcmwallojson "kubectl get configmap --watch --all-namespaces -o=json"
abbr -a kgsecwallojson "kubectl get secret --watch --all-namespaces -o=json"
abbr -a kgnswallojson "kubectl get namespaces --watch --all-namespaces -o=json"
abbr -a kgallslw "kubectl get --all-namespaces --show-labels --watch"
abbr -a kgpoallslw "kubectl get pods --all-namespaces --show-labels --watch"
abbr -a kgdepallslw "kubectl get deployment --all-namespaces --show-labels --watch"
abbr -a kgallwsl "kubectl get --all-namespaces --watch --show-labels"
abbr -a kgpoallwsl "kubectl get pods --all-namespaces --watch --show-labels"
abbr -a kgdepallwsl "kubectl get deployment --all-namespaces --watch --show-labels"
abbr -a kgslallw "kubectl get --show-labels --all-namespaces --watch"
abbr -a kgposlallw "kubectl get pods --show-labels --all-namespaces --watch"
abbr -a kgdepslallw "kubectl get deployment --show-labels --all-namespaces --watch"
abbr -a kgslwall "kubectl get --show-labels --watch --all-namespaces"
abbr -a kgposlwall "kubectl get pods --show-labels --watch --all-namespaces"
abbr -a kgdepslwall "kubectl get deployment --show-labels --watch --all-namespaces"
abbr -a kgwallsl "kubectl get --watch --all-namespaces --show-labels"
abbr -a kgpowallsl "kubectl get pods --watch --all-namespaces --show-labels"
abbr -a kgdepwallsl "kubectl get deployment --watch --all-namespaces --show-labels"
abbr -a kgwslall "kubectl get --watch --show-labels --all-namespaces"
abbr -a kgpowslall "kubectl get pods --watch --show-labels --all-namespaces"
abbr -a kgdepwslall "kubectl get deployment --watch --show-labels --all-namespaces"
abbr -a kgallslwowide "kubectl get --all-namespaces --show-labels --watch -o=wide"
abbr -a kgpoallslwowide "kubectl get pods --all-namespaces --show-labels --watch -o=wide"
abbr -a kgdepallslwowide "kubectl get deployment --all-namespaces --show-labels --watch -o=wide"
abbr -a kgallwowidesl "kubectl get --all-namespaces --watch -o=wide --show-labels"
abbr -a kgpoallwowidesl "kubectl get pods --all-namespaces --watch -o=wide --show-labels"
abbr -a kgdepallwowidesl "kubectl get deployment --all-namespaces --watch -o=wide --show-labels"
abbr -a kgallwslowide "kubectl get --all-namespaces --watch --show-labels -o=wide"
abbr -a kgpoallwslowide "kubectl get pods --all-namespaces --watch --show-labels -o=wide"
abbr -a kgdepallwslowide "kubectl get deployment --all-namespaces --watch --show-labels -o=wide"
abbr -a kgslallwowide "kubectl get --show-labels --all-namespaces --watch -o=wide"
abbr -a kgposlallwowide "kubectl get pods --show-labels --all-namespaces --watch -o=wide"
abbr -a kgdepslallwowide "kubectl get deployment --show-labels --all-namespaces --watch -o=wide"
abbr -a kgslwowideall "kubectl get --show-labels --watch -o=wide --all-namespaces"
abbr -a kgposlwowideall "kubectl get pods --show-labels --watch -o=wide --all-namespaces"
abbr -a kgdepslwowideall "kubectl get deployment --show-labels --watch -o=wide --all-namespaces"
abbr -a kgslwallowide "kubectl get --show-labels --watch --all-namespaces -o=wide"
abbr -a kgposlwallowide "kubectl get pods --show-labels --watch --all-namespaces -o=wide"
abbr -a kgdepslwallowide "kubectl get deployment --show-labels --watch --all-namespaces -o=wide"
abbr -a kgwowideallsl "kubectl get --watch -o=wide --all-namespaces --show-labels"
abbr -a kgpowowideallsl "kubectl get pods --watch -o=wide --all-namespaces --show-labels"
abbr -a kgdepwowideallsl "kubectl get deployment --watch -o=wide --all-namespaces --show-labels"
abbr -a kgwowideslall "kubectl get --watch -o=wide --show-labels --all-namespaces"
abbr -a kgpowowideslall "kubectl get pods --watch -o=wide --show-labels --all-namespaces"
abbr -a kgdepwowideslall "kubectl get deployment --watch -o=wide --show-labels --all-namespaces"
abbr -a kgwallowidesl "kubectl get --watch --all-namespaces -o=wide --show-labels"
abbr -a kgpowallowidesl "kubectl get pods --watch --all-namespaces -o=wide --show-labels"
abbr -a kgdepwallowidesl "kubectl get deployment --watch --all-namespaces -o=wide --show-labels"
abbr -a kgwallslowide "kubectl get --watch --all-namespaces --show-labels -o=wide"
abbr -a kgpowallslowide "kubectl get pods --watch --all-namespaces --show-labels -o=wide"
abbr -a kgdepwallslowide "kubectl get deployment --watch --all-namespaces --show-labels -o=wide"
abbr -a kgwslowideall "kubectl get --watch --show-labels -o=wide --all-namespaces"
abbr -a kgpowslowideall "kubectl get pods --watch --show-labels -o=wide --all-namespaces"
abbr -a kgdepwslowideall "kubectl get deployment --watch --show-labels -o=wide --all-namespaces"
abbr -a kgwslallowide "kubectl get --watch --show-labels --all-namespaces -o=wide"
abbr -a kgpowslallowide "kubectl get pods --watch --show-labels --all-namespaces -o=wide"
abbr -a kgdepwslallowide "kubectl get deployment --watch --show-labels --all-namespaces -o=wide"
abbr -a kgf "kubectl get --recursive -f"
abbr -a kdf "kubectl describe --recursive -f"
abbr -a krmf "kubectl delete --recursive -f"
abbr -a kgoyamlf "kubectl get -o=yaml --recursive -f"
abbr -a kgowidef "kubectl get -o=wide --recursive -f"
abbr -a kgojsonf "kubectl get -o=json --recursive -f"
abbr -a kgslf "kubectl get --show-labels --recursive -f"
abbr -a kgwf "kubectl get --watch --recursive -f"
abbr -a kgwoyamlf "kubectl get --watch -o=yaml --recursive -f"
abbr -a kgowideslf "kubectl get -o=wide --show-labels --recursive -f"
abbr -a kgslowidef "kubectl get --show-labels -o=wide --recursive -f"
abbr -a kgwowidef "kubectl get --watch -o=wide --recursive -f"
abbr -a kgwojsonf "kubectl get --watch -o=json --recursive -f"
abbr -a kgslwf "kubectl get --show-labels --watch --recursive -f"
abbr -a kgwslf "kubectl get --watch --show-labels --recursive -f"
abbr -a kgslwowidef "kubectl get --show-labels --watch -o=wide --recursive -f"
abbr -a kgwowideslf "kubectl get --watch -o=wide --show-labels --recursive -f"
abbr -a kgwslowidef "kubectl get --watch --show-labels -o=wide --recursive -f"
abbr -a kgl "kubectl get -l"
abbr -a ksysgl "kubectl --namespace=kube-system get -l"
abbr -a kdl "kubectl describe -l"
abbr -a ksysdl "kubectl --namespace=kube-system describe -l"
abbr -a krml "kubectl delete -l"
abbr -a ksysrml "kubectl --namespace=kube-system delete -l"
abbr -a kgpol "kubectl get pods -l"
abbr -a ksysgpol "kubectl --namespace=kube-system get pods -l"
abbr -a kdpol "kubectl describe pods -l"
abbr -a ksysdpol "kubectl --namespace=kube-system describe pods -l"
abbr -a krmpol "kubectl delete pods -l"
abbr -a ksysrmpol "kubectl --namespace=kube-system delete pods -l"
abbr -a kgdepl "kubectl get deployment -l"
abbr -a ksysgdepl "kubectl --namespace=kube-system get deployment -l"
abbr -a kddepl "kubectl describe deployment -l"
abbr -a ksysddepl "kubectl --namespace=kube-system describe deployment -l"
abbr -a krmdepl "kubectl delete deployment -l"
abbr -a ksysrmdepl "kubectl --namespace=kube-system delete deployment -l"
abbr -a kgsvcl "kubectl get service -l"
abbr -a ksysgsvcl "kubectl --namespace=kube-system get service -l"
abbr -a kdsvcl "kubectl describe service -l"
abbr -a ksysdsvcl "kubectl --namespace=kube-system describe service -l"
abbr -a krmsvcl "kubectl delete service -l"
abbr -a ksysrmsvcl "kubectl --namespace=kube-system delete service -l"
abbr -a kgingl "kubectl get ingress -l"
abbr -a ksysgingl "kubectl --namespace=kube-system get ingress -l"
abbr -a kdingl "kubectl describe ingress -l"
abbr -a ksysdingl "kubectl --namespace=kube-system describe ingress -l"
abbr -a krmingl "kubectl delete ingress -l"
abbr -a ksysrmingl "kubectl --namespace=kube-system delete ingress -l"
abbr -a kgcml "kubectl get configmap -l"
abbr -a ksysgcml "kubectl --namespace=kube-system get configmap -l"
abbr -a kdcml "kubectl describe configmap -l"
abbr -a ksysdcml "kubectl --namespace=kube-system describe configmap -l"
abbr -a krmcml "kubectl delete configmap -l"
abbr -a ksysrmcml "kubectl --namespace=kube-system delete configmap -l"
abbr -a kgsecl "kubectl get secret -l"
abbr -a ksysgsecl "kubectl --namespace=kube-system get secret -l"
abbr -a kdsecl "kubectl describe secret -l"
abbr -a ksysdsecl "kubectl --namespace=kube-system describe secret -l"
abbr -a krmsecl "kubectl delete secret -l"
abbr -a ksysrmsecl "kubectl --namespace=kube-system delete secret -l"
abbr -a kgnol "kubectl get nodes -l"
abbr -a kdnol "kubectl describe nodes -l"
abbr -a kgnsl "kubectl get namespaces -l"
abbr -a kdnsl "kubectl describe namespaces -l"
abbr -a krmnsl "kubectl delete namespaces -l"
abbr -a kgoyamll "kubectl get -o=yaml -l"
abbr -a ksysgoyamll "kubectl --namespace=kube-system get -o=yaml -l"
abbr -a kgpooyamll "kubectl get pods -o=yaml -l"
abbr -a ksysgpooyamll "kubectl --namespace=kube-system get pods -o=yaml -l"
abbr -a kgdepoyamll "kubectl get deployment -o=yaml -l"
abbr -a ksysgdepoyamll "kubectl --namespace=kube-system get deployment -o=yaml -l"
abbr -a kgsvcoyamll "kubectl get service -o=yaml -l"
abbr -a ksysgsvcoyamll "kubectl --namespace=kube-system get service -o=yaml -l"
abbr -a kgingoyamll "kubectl get ingress -o=yaml -l"
abbr -a ksysgingoyamll "kubectl --namespace=kube-system get ingress -o=yaml -l"
abbr -a kgcmoyamll "kubectl get configmap -o=yaml -l"
abbr -a ksysgcmoyamll "kubectl --namespace=kube-system get configmap -o=yaml -l"
abbr -a kgsecoyamll "kubectl get secret -o=yaml -l"
abbr -a ksysgsecoyamll "kubectl --namespace=kube-system get secret -o=yaml -l"
abbr -a kgnooyamll "kubectl get nodes -o=yaml -l"
abbr -a kgnsoyamll "kubectl get namespaces -o=yaml -l"
abbr -a kgowidel "kubectl get -o=wide -l"
abbr -a ksysgowidel "kubectl --namespace=kube-system get -o=wide -l"
abbr -a kgpoowidel "kubectl get pods -o=wide -l"
abbr -a ksysgpoowidel "kubectl --namespace=kube-system get pods -o=wide -l"
abbr -a kgdepowidel "kubectl get deployment -o=wide -l"
abbr -a ksysgdepowidel "kubectl --namespace=kube-system get deployment -o=wide -l"
abbr -a kgsvcowidel "kubectl get service -o=wide -l"
abbr -a ksysgsvcowidel "kubectl --namespace=kube-system get service -o=wide -l"
abbr -a kgingowidel "kubectl get ingress -o=wide -l"
abbr -a ksysgingowidel "kubectl --namespace=kube-system get ingress -o=wide -l"
abbr -a kgcmowidel "kubectl get configmap -o=wide -l"
abbr -a ksysgcmowidel "kubectl --namespace=kube-system get configmap -o=wide -l"
abbr -a kgsecowidel "kubectl get secret -o=wide -l"
abbr -a ksysgsecowidel "kubectl --namespace=kube-system get secret -o=wide -l"
abbr -a kgnoowidel "kubectl get nodes -o=wide -l"
abbr -a kgnsowidel "kubectl get namespaces -o=wide -l"
abbr -a kgojsonl "kubectl get -o=json -l"
abbr -a ksysgojsonl "kubectl --namespace=kube-system get -o=json -l"
abbr -a kgpoojsonl "kubectl get pods -o=json -l"
abbr -a ksysgpoojsonl "kubectl --namespace=kube-system get pods -o=json -l"
abbr -a kgdepojsonl "kubectl get deployment -o=json -l"
abbr -a ksysgdepojsonl "kubectl --namespace=kube-system get deployment -o=json -l"
abbr -a kgsvcojsonl "kubectl get service -o=json -l"
abbr -a ksysgsvcojsonl "kubectl --namespace=kube-system get service -o=json -l"
abbr -a kgingojsonl "kubectl get ingress -o=json -l"
abbr -a ksysgingojsonl "kubectl --namespace=kube-system get ingress -o=json -l"
abbr -a kgcmojsonl "kubectl get configmap -o=json -l"
abbr -a ksysgcmojsonl "kubectl --namespace=kube-system get configmap -o=json -l"
abbr -a kgsecojsonl "kubectl get secret -o=json -l"
abbr -a ksysgsecojsonl "kubectl --namespace=kube-system get secret -o=json -l"
abbr -a kgnoojsonl "kubectl get nodes -o=json -l"
abbr -a kgnsojsonl "kubectl get namespaces -o=json -l"
abbr -a kgsll "kubectl get --show-labels -l"
abbr -a ksysgsll "kubectl --namespace=kube-system get --show-labels -l"
abbr -a kgposll "kubectl get pods --show-labels -l"
abbr -a ksysgposll "kubectl --namespace=kube-system get pods --show-labels -l"
abbr -a kgdepsll "kubectl get deployment --show-labels -l"
abbr -a ksysgdepsll "kubectl --namespace=kube-system get deployment --show-labels -l"
abbr -a kgwl "kubectl get --watch -l"
abbr -a ksysgwl "kubectl --namespace=kube-system get --watch -l"
abbr -a kgpowl "kubectl get pods --watch -l"
abbr -a ksysgpowl "kubectl --namespace=kube-system get pods --watch -l"
abbr -a kgdepwl "kubectl get deployment --watch -l"
abbr -a ksysgdepwl "kubectl --namespace=kube-system get deployment --watch -l"
abbr -a kgsvcwl "kubectl get service --watch -l"
abbr -a ksysgsvcwl "kubectl --namespace=kube-system get service --watch -l"
abbr -a kgingwl "kubectl get ingress --watch -l"
abbr -a ksysgingwl "kubectl --namespace=kube-system get ingress --watch -l"
abbr -a kgcmwl "kubectl get configmap --watch -l"
abbr -a ksysgcmwl "kubectl --namespace=kube-system get configmap --watch -l"
abbr -a kgsecwl "kubectl get secret --watch -l"
abbr -a ksysgsecwl "kubectl --namespace=kube-system get secret --watch -l"
abbr -a kgnowl "kubectl get nodes --watch -l"
abbr -a kgnswl "kubectl get namespaces --watch -l"
abbr -a kgwoyamll "kubectl get --watch -o=yaml -l"
abbr -a ksysgwoyamll "kubectl --namespace=kube-system get --watch -o=yaml -l"
abbr -a kgpowoyamll "kubectl get pods --watch -o=yaml -l"
abbr -a ksysgpowoyamll "kubectl --namespace=kube-system get pods --watch -o=yaml -l"
abbr -a kgdepwoyamll "kubectl get deployment --watch -o=yaml -l"
abbr -a ksysgdepwoyamll "kubectl --namespace=kube-system get deployment --watch -o=yaml -l"
abbr -a kgsvcwoyamll "kubectl get service --watch -o=yaml -l"
abbr -a ksysgsvcwoyamll "kubectl --namespace=kube-system get service --watch -o=yaml -l"
abbr -a kgingwoyamll "kubectl get ingress --watch -o=yaml -l"
abbr -a ksysgingwoyamll "kubectl --namespace=kube-system get ingress --watch -o=yaml -l"
abbr -a kgcmwoyamll "kubectl get configmap --watch -o=yaml -l"
abbr -a ksysgcmwoyamll "kubectl --namespace=kube-system get configmap --watch -o=yaml -l"
abbr -a kgsecwoyamll "kubectl get secret --watch -o=yaml -l"
abbr -a ksysgsecwoyamll "kubectl --namespace=kube-system get secret --watch -o=yaml -l"
abbr -a kgnowoyamll "kubectl get nodes --watch -o=yaml -l"
abbr -a kgnswoyamll "kubectl get namespaces --watch -o=yaml -l"
abbr -a kgowidesll "kubectl get -o=wide --show-labels -l"
abbr -a ksysgowidesll "kubectl --namespace=kube-system get -o=wide --show-labels -l"
abbr -a kgpoowidesll "kubectl get pods -o=wide --show-labels -l"
abbr -a ksysgpoowidesll "kubectl --namespace=kube-system get pods -o=wide --show-labels -l"
abbr -a kgdepowidesll "kubectl get deployment -o=wide --show-labels -l"
abbr -a ksysgdepowidesll "kubectl --namespace=kube-system get deployment -o=wide --show-labels -l"
abbr -a kgslowidel "kubectl get --show-labels -o=wide -l"
abbr -a ksysgslowidel "kubectl --namespace=kube-system get --show-labels -o=wide -l"
abbr -a kgposlowidel "kubectl get pods --show-labels -o=wide -l"
abbr -a ksysgposlowidel "kubectl --namespace=kube-system get pods --show-labels -o=wide -l"
abbr -a kgdepslowidel "kubectl get deployment --show-labels -o=wide -l"
abbr -a ksysgdepslowidel "kubectl --namespace=kube-system get deployment --show-labels -o=wide -l"
abbr -a kgwowidel "kubectl get --watch -o=wide -l"
abbr -a ksysgwowidel "kubectl --namespace=kube-system get --watch -o=wide -l"
abbr -a kgpowowidel "kubectl get pods --watch -o=wide -l"
abbr -a ksysgpowowidel "kubectl --namespace=kube-system get pods --watch -o=wide -l"
abbr -a kgdepwowidel "kubectl get deployment --watch -o=wide -l"
abbr -a ksysgdepwowidel "kubectl --namespace=kube-system get deployment --watch -o=wide -l"
abbr -a kgsvcwowidel "kubectl get service --watch -o=wide -l"
abbr -a ksysgsvcwowidel "kubectl --namespace=kube-system get service --watch -o=wide -l"
abbr -a kgingwowidel "kubectl get ingress --watch -o=wide -l"
abbr -a ksysgingwowidel "kubectl --namespace=kube-system get ingress --watch -o=wide -l"
abbr -a kgcmwowidel "kubectl get configmap --watch -o=wide -l"
abbr -a ksysgcmwowidel "kubectl --namespace=kube-system get configmap --watch -o=wide -l"
abbr -a kgsecwowidel "kubectl get secret --watch -o=wide -l"
abbr -a ksysgsecwowidel "kubectl --namespace=kube-system get secret --watch -o=wide -l"
abbr -a kgnowowidel "kubectl get nodes --watch -o=wide -l"
abbr -a kgnswowidel "kubectl get namespaces --watch -o=wide -l"
abbr -a kgwojsonl "kubectl get --watch -o=json -l"
abbr -a ksysgwojsonl "kubectl --namespace=kube-system get --watch -o=json -l"
abbr -a kgpowojsonl "kubectl get pods --watch -o=json -l"
abbr -a ksysgpowojsonl "kubectl --namespace=kube-system get pods --watch -o=json -l"
abbr -a kgdepwojsonl "kubectl get deployment --watch -o=json -l"
abbr -a ksysgdepwojsonl "kubectl --namespace=kube-system get deployment --watch -o=json -l"
abbr -a kgsvcwojsonl "kubectl get service --watch -o=json -l"
abbr -a ksysgsvcwojsonl "kubectl --namespace=kube-system get service --watch -o=json -l"
abbr -a kgingwojsonl "kubectl get ingress --watch -o=json -l"
abbr -a ksysgingwojsonl "kubectl --namespace=kube-system get ingress --watch -o=json -l"
abbr -a kgcmwojsonl "kubectl get configmap --watch -o=json -l"
abbr -a ksysgcmwojsonl "kubectl --namespace=kube-system get configmap --watch -o=json -l"
abbr -a kgsecwojsonl "kubectl get secret --watch -o=json -l"
abbr -a ksysgsecwojsonl "kubectl --namespace=kube-system get secret --watch -o=json -l"
abbr -a kgnowojsonl "kubectl get nodes --watch -o=json -l"
abbr -a kgnswojsonl "kubectl get namespaces --watch -o=json -l"
abbr -a kgslwl "kubectl get --show-labels --watch -l"
abbr -a ksysgslwl "kubectl --namespace=kube-system get --show-labels --watch -l"
abbr -a kgposlwl "kubectl get pods --show-labels --watch -l"
abbr -a ksysgposlwl "kubectl --namespace=kube-system get pods --show-labels --watch -l"
abbr -a kgdepslwl "kubectl get deployment --show-labels --watch -l"
abbr -a ksysgdepslwl "kubectl --namespace=kube-system get deployment --show-labels --watch -l"
abbr -a kgwsll "kubectl get --watch --show-labels -l"
abbr -a ksysgwsll "kubectl --namespace=kube-system get --watch --show-labels -l"
abbr -a kgpowsll "kubectl get pods --watch --show-labels -l"
abbr -a ksysgpowsll "kubectl --namespace=kube-system get pods --watch --show-labels -l"
abbr -a kgdepwsll "kubectl get deployment --watch --show-labels -l"
abbr -a ksysgdepwsll "kubectl --namespace=kube-system get deployment --watch --show-labels -l"
abbr -a kgslwowidel "kubectl get --show-labels --watch -o=wide -l"
abbr -a ksysgslwowidel "kubectl --namespace=kube-system get --show-labels --watch -o=wide -l"
abbr -a kgposlwowidel "kubectl get pods --show-labels --watch -o=wide -l"
abbr -a ksysgposlwowidel "kubectl --namespace=kube-system get pods --show-labels --watch -o=wide -l"
abbr -a kgdepslwowidel "kubectl get deployment --show-labels --watch -o=wide -l"
abbr -a ksysgdepslwowidel "kubectl --namespace=kube-system get deployment --show-labels --watch -o=wide -l"
abbr -a kgwowidesll "kubectl get --watch -o=wide --show-labels -l"
abbr -a ksysgwowidesll "kubectl --namespace=kube-system get --watch -o=wide --show-labels -l"
abbr -a kgpowowidesll "kubectl get pods --watch -o=wide --show-labels -l"
abbr -a ksysgpowowidesll "kubectl --namespace=kube-system get pods --watch -o=wide --show-labels -l"
abbr -a kgdepwowidesll "kubectl get deployment --watch -o=wide --show-labels -l"
abbr -a ksysgdepwowidesll "kubectl --namespace=kube-system get deployment --watch -o=wide --show-labels -l"
abbr -a kgwslowidel "kubectl get --watch --show-labels -o=wide -l"
abbr -a ksysgwslowidel "kubectl --namespace=kube-system get --watch --show-labels -o=wide -l"
abbr -a kgpowslowidel "kubectl get pods --watch --show-labels -o=wide -l"
abbr -a ksysgpowslowidel "kubectl --namespace=kube-system get pods --watch --show-labels -o=wide -l"
abbr -a kgdepwslowidel "kubectl get deployment --watch --show-labels -o=wide -l"
abbr -a ksysgdepwslowidel "kubectl --namespace=kube-system get deployment --watch --show-labels -o=wide -l"
abbr -a kexn "kubectl exec -i -t --namespace"
abbr -a klon "kubectl logs -f --namespace"
abbr -a kpfn "kubectl port-forward --namespace"
abbr -a kgn "kubectl get --namespace"
abbr -a kdn "kubectl describe --namespace"
abbr -a krmn "kubectl delete --namespace"
abbr -a kgpon "kubectl get pods --namespace"
abbr -a kdpon "kubectl describe pods --namespace"
abbr -a krmpon "kubectl delete pods --namespace"
abbr -a kgdepn "kubectl get deployment --namespace"
abbr -a kddepn "kubectl describe deployment --namespace"
abbr -a krmdepn "kubectl delete deployment --namespace"
abbr -a kgsvcn "kubectl get service --namespace"
abbr -a kdsvcn "kubectl describe service --namespace"
abbr -a krmsvcn "kubectl delete service --namespace"
abbr -a kgingn "kubectl get ingress --namespace"
abbr -a kdingn "kubectl describe ingress --namespace"
abbr -a krmingn "kubectl delete ingress --namespace"
abbr -a kgcmn "kubectl get configmap --namespace"
abbr -a kdcmn "kubectl describe configmap --namespace"
abbr -a krmcmn "kubectl delete configmap --namespace"
abbr -a kgsecn "kubectl get secret --namespace"
abbr -a kdsecn "kubectl describe secret --namespace"
abbr -a krmsecn "kubectl delete secret --namespace"
abbr -a kgoyamln "kubectl get -o=yaml --namespace"
abbr -a kgpooyamln "kubectl get pods -o=yaml --namespace"
abbr -a kgdepoyamln "kubectl get deployment -o=yaml --namespace"
abbr -a kgsvcoyamln "kubectl get service -o=yaml --namespace"
abbr -a kgingoyamln "kubectl get ingress -o=yaml --namespace"
abbr -a kgcmoyamln "kubectl get configmap -o=yaml --namespace"
abbr -a kgsecoyamln "kubectl get secret -o=yaml --namespace"
abbr -a kgowiden "kubectl get -o=wide --namespace"
abbr -a kgpoowiden "kubectl get pods -o=wide --namespace"
abbr -a kgdepowiden "kubectl get deployment -o=wide --namespace"
abbr -a kgsvcowiden "kubectl get service -o=wide --namespace"
abbr -a kgingowiden "kubectl get ingress -o=wide --namespace"
abbr -a kgcmowiden "kubectl get configmap -o=wide --namespace"
abbr -a kgsecowiden "kubectl get secret -o=wide --namespace"
abbr -a kgojsonn "kubectl get -o=json --namespace"
abbr -a kgpoojsonn "kubectl get pods -o=json --namespace"
abbr -a kgdepojsonn "kubectl get deployment -o=json --namespace"
abbr -a kgsvcojsonn "kubectl get service -o=json --namespace"
abbr -a kgingojsonn "kubectl get ingress -o=json --namespace"
abbr -a kgcmojsonn "kubectl get configmap -o=json --namespace"
abbr -a kgsecojsonn "kubectl get secret -o=json --namespace"
abbr -a kgsln "kubectl get --show-labels --namespace"
abbr -a kgposln "kubectl get pods --show-labels --namespace"
abbr -a kgdepsln "kubectl get deployment --show-labels --namespace"
abbr -a kgwn "kubectl get --watch --namespace"
abbr -a kgpown "kubectl get pods --watch --namespace"
abbr -a kgdepwn "kubectl get deployment --watch --namespace"
abbr -a kgsvcwn "kubectl get service --watch --namespace"
abbr -a kgingwn "kubectl get ingress --watch --namespace"
abbr -a kgcmwn "kubectl get configmap --watch --namespace"
abbr -a kgsecwn "kubectl get secret --watch --namespace"
abbr -a kgwoyamln "kubectl get --watch -o=yaml --namespace"
abbr -a kgpowoyamln "kubectl get pods --watch -o=yaml --namespace"
abbr -a kgdepwoyamln "kubectl get deployment --watch -o=yaml --namespace"
abbr -a kgsvcwoyamln "kubectl get service --watch -o=yaml --namespace"
abbr -a kgingwoyamln "kubectl get ingress --watch -o=yaml --namespace"
abbr -a kgcmwoyamln "kubectl get configmap --watch -o=yaml --namespace"
abbr -a kgsecwoyamln "kubectl get secret --watch -o=yaml --namespace"
abbr -a kgowidesln "kubectl get -o=wide --show-labels --namespace"
abbr -a kgpoowidesln "kubectl get pods -o=wide --show-labels --namespace"
abbr -a kgdepowidesln "kubectl get deployment -o=wide --show-labels --namespace"
abbr -a kgslowiden "kubectl get --show-labels -o=wide --namespace"
abbr -a kgposlowiden "kubectl get pods --show-labels -o=wide --namespace"
abbr -a kgdepslowiden "kubectl get deployment --show-labels -o=wide --namespace"
abbr -a kgwowiden "kubectl get --watch -o=wide --namespace"
abbr -a kgpowowiden "kubectl get pods --watch -o=wide --namespace"
abbr -a kgdepwowiden "kubectl get deployment --watch -o=wide --namespace"
abbr -a kgsvcwowiden "kubectl get service --watch -o=wide --namespace"
abbr -a kgingwowiden "kubectl get ingress --watch -o=wide --namespace"
abbr -a kgcmwowiden "kubectl get configmap --watch -o=wide --namespace"
abbr -a kgsecwowiden "kubectl get secret --watch -o=wide --namespace"
abbr -a kgwojsonn "kubectl get --watch -o=json --namespace"
abbr -a kgpowojsonn "kubectl get pods --watch -o=json --namespace"
abbr -a kgdepwojsonn "kubectl get deployment --watch -o=json --namespace"
abbr -a kgsvcwojsonn "kubectl get service --watch -o=json --namespace"
abbr -a kgingwojsonn "kubectl get ingress --watch -o=json --namespace"
abbr -a kgcmwojsonn "kubectl get configmap --watch -o=json --namespace"
abbr -a kgsecwojsonn "kubectl get secret --watch -o=json --namespace"
abbr -a kgslwn "kubectl get --show-labels --watch --namespace"
abbr -a kgposlwn "kubectl get pods --show-labels --watch --namespace"
abbr -a kgdepslwn "kubectl get deployment --show-labels --watch --namespace"
abbr -a kgwsln "kubectl get --watch --show-labels --namespace"
abbr -a kgpowsln "kubectl get pods --watch --show-labels --namespace"
abbr -a kgdepwsln "kubectl get deployment --watch --show-labels --namespace"
abbr -a kgslwowiden "kubectl get --show-labels --watch -o=wide --namespace"
abbr -a kgposlwowiden "kubectl get pods --show-labels --watch -o=wide --namespace"
abbr -a kgdepslwowiden "kubectl get deployment --show-labels --watch -o=wide --namespace"
abbr -a kgwowidesln "kubectl get --watch -o=wide --show-labels --namespace"
abbr -a kgpowowidesln "kubectl get pods --watch -o=wide --show-labels --namespace"
abbr -a kgdepwowidesln "kubectl get deployment --watch -o=wide --show-labels --namespace"
abbr -a kgwslowiden "kubectl get --watch --show-labels -o=wide --namespace"
abbr -a kgpowslowiden "kubectl get pods --watch --show-labels -o=wide --namespace"
abbr -a kgdepwslowiden "kubectl get deployment --watch --show-labels -o=wide --namespace"
