function sudo; command sudo -sE $argv; end
alias emacs "emacs -nw"
alias vim "nvim"

set fish_key_bindings fish_vi_key_bindings

#remove this once apt snap packages paths properly
set -U fish_user_paths /snap/bin

#env vars
set -Ux EDITOR "emacs -nw"

#brew
set -g fish_user_paths "/home/linuxbrew/.linuxbrew/bin" $fish_user_paths

